

<footer>
    <p>Copyright ⓒ <%= new Date().getFullYear() %></p>
</footer>



<script src="/JS/jquery-3.6.0.min.js"></script>
<script src="../../bootstrap-5.1.0-dist/js/bootstrap.min.js"></script>
<script src="../../JS/main.js"></script>
</body>

</html>